[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
jinja2 = "*"
python-magic = "*"
python-slugify = "*"

[dev-packages]
black = "*"
mypy = "*"
ipython = "*"
isort = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
types-python-slugify = "*"

[requires]
python_version = "3.11"
