{% if item.first_in_group %}<div class='image-gallery'>{% endif %}
    <figure>
        <img src="{{ '{{' }} 'images/albums/{{album.slug()}}/{{ item.relative_path }}' | relative_url {{ '}}' }}" alt="TODO">
    </figure>
    {% if item.last_in_group %}
</div>{% endif %}