---
layout: photo-album
title: "{{ album.name }}"
start_date: {{ album.start_date.date().isoformat() }}
end_date: {{ album.end_date.date().isoformat() }}
attendees: Holly
---
{% for item in items %}
{% with album_slug=album.slug() %}
{% include item.render_template %}
{% endwith %}
{% endfor %}