---
layout: photo-album
title: "{{ album.name }}"
start_date: 2017-10-22
end_date: 2017-10-30
attendees: Holly and James
---
{% for item in items %}
{% with album_slug=album.slug() %}
{% include item.render_template %}
{% endwith %}
{% endfor %}